<nav>
  <div class="navbar-index">
    <a href="/">回到首頁</a>
  </div>
  <div class="navbar-menu">
    <a class="active" href="/about">About</a>
    <a href="/portfolio">Portfolio</a>
    <a href="/contact">Contact</a>
  </div>
</nav>

<h1>About</h1>